<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}

    <h1>Login</h1>
    <form action="/auth/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Login</button>
        <br>
        <a href="{{ url_for('auth.forgot_password') }}">Forgot Password?</a>
    </form>
    {% endblock %}
</body>
</html>
